.news-card {
    @include row-flex();
    text-decoration: none;

    &__image {
        @include size(12);
        @include shift(0);
        border-radius: 10px;
        overflow: hidden;
        object-fit: cover
    }
    &__text {
        @include size(12);
        @include shift(0);
        background: rgba(0, 26, 88, 0.1);
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        p {
            color: rgba($color-new-blue, 0.7);
            margin-bottom: 13vh;
        }

    }
    &__title {
        text-transform: uppercase;
        font-size: 1.6vw;
        font-weight: 700;
        line-height: 140%;
        color: var(--color-new-blue);
        margin-bottom: 20px;
    }
    &__label {
        border-radius: 32px;
        color: var(--color-white);
        width: max-content;
        margin-right: auto;
        padding: 12px 16px;
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        &:before {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            background-color: var(--color-white);
            border-radius: 50%;
            margin-right: 4px;
        }
    }
    &.news &__label {
        background-color: #F37575;
    }
    &.promotion &__label {
        background-color: #308A38;
    }
    &__date {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: var(--color-new-blue);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: auto;
        svg {
            fill: none;
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }
    }
}