.home-screen1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &>div {
        text-align: center;

    }
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}


@import '../parts/home/home-grid-block';
@import '../parts/home/genplan';
@import '../parts/home/home-gallery';



.button-30 {
    background: var(--color-white);
    --color: var(--button-color);
    color: var(--color); 
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 28px;
    
    transition: .25s ease-out;
    border: none;
    width: max-content;
    position: relative;
    font-family: $default-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    text-decoration: none;
    overflow: hidden;
    text-transform: uppercase;
    &.safari {
          transform: translateZ(1px);
      }
  
    .button__hover {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%) scale(0) !important;
          width: calc(100% + 5px);
          height: calc(100% + 5px);
          background-color: var(--color-black);
          // clip-path: circle(0% at 0% 100%);
          border-radius: 30px;
          // transform: scale(0);
          // -webkit-clip-path: circle(0% at 0% 100%);
          // transform: scale(0) !important;
          transition: transform .4s cubic-bezier(0.25, 0.74, 0.22, 0.99);
          z-index: 0;
          
      }
    @include from(576px){
          &:hover .button__hover {
              transform: translate(-50%,-50%) scale(1.2) !important;
          }
      &.safari:hover {
        background-color: var(--color-black);
      }
      }
    span {
        @include text-style-h-4;
        color: var(--color); 
        display: inline-block;
        vertical-align: middle;
        position: relative;
        z-index: 2;
    }
    &:hover {
        background-color: var(--button-color);
        --color: var(--color-white);
    }
  
    &--blue {
      background: #001A58;
      color: var(--color-white);
    }
    svg {
            position: relative;
        z-index: 2;
      //   stroke: var(--color);
    }
    svg:last-child {
        margin-left: 8px;
    }
    svg:first-child {
        margin-right: 8px;
    }
  }