.news-front-screen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: calc(var(--header-h) + 20px);
    .tabs {
        margin-top: 40px;
    }
}

.mobile {
    .news-front-screen {
        .text-style-h-1 {
            text-align: center;
        }
    }
}

.news-container {
    @include row-flex();
    margin-top: 80px !important;
    &>[class*="text-style"] {
        @include size(24);
        @include shift(0);
        margin-bottom: 80px;
        text-align: center

    }
    .news-card {
        @include size(12);
        @include shift(0);
    }
    .news-card:nth-of-type(n+3) {
        margin-top: 80px;
    }
}
.tablet,
.mobile {
    .news-container  {
        margin-top: 60px !important;
        &>[class*="text-style"] {
            margin-bottom: 60px;
        }
        .news-card {
            @include size(24);
            @include shift(0);
        }
        .news-card~.news-card {
            margin-top: 8px;
        }
        .news-card:nth-of-type(n+3) {
            margin-top: 8px;
        }
    }
}
.mobile {
    .news-container  {
        margin-top: 32px !important;
    }
}