<nav class="menu menu--active">
    <div class="menu__item menu__item--1" data-direction="bt">
        .menu__item-inner
            a(href="/" data-title="Головна").menu__link Головна
            a(href="/project" data-menu-close data-title="Про об'єкт").menu__link Про об'єкт
            a(href="#section2" data-menu-close data-title="Хід будівництва").menu__link Хід будівництва
            a(href="#section2" data-menu-close data-title="Планування").menu__link Планування
            a(href="#section2" data-menu-close data-title="Галерея").menu__link Галерея
            a(href="#section2" data-menu-close data-title="Новини та акції").menu__link Новини та акції
            a(href="#section2" data-menu-close data-title="Контакти").menu__link Контакти
    </div>
    .menu__header
        a(href="tel: +380671953122").menu__header-link +38 (067) 195-31-22
        button(class="button-30 button-30--transparent-bordered" type="button") Замовити дзвінок
        <button class="action action--close" data-menu-close>
            span Меню
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.99902 6L10.9488 10.9497L17.3127 17.3137" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M17.3127 5.68629L12.363 10.636L5.99902 17" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
            </svg>
        </button>
</nav>