extends ../layout/main
	
block meta
	title= '404'
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(src='./assets/scripts/index.js')

block content
	.container.page404
		h1(class="text-style-h-1 text-new-blue") 404
		p(class="text-style-h-3 text-blue") Что-то пошло не так, страница не найдена
		div(class="link-wrap")
			a(class="button-30 button-30--blue" onclick="window.history.go(-1);")
				span.button-fill__text Назад
			a(class="button-30 button-30--blue" href="/")
				span.button-fill__text На главную

block footer
	footer.footer
		include ../includes/footer.pug

block header
	header.header
		include ../includes/header.pug

