extends ../layout/main
block variable
  -
    var title_page = 'Kонтакти'
    var id_page = 'page-contacts'
    var class_page = 'page-contacts'
      var header_class = 'header--dark'
    // var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      {
        label: 'Contacts',
        link: pagesLink[0].contacts
      }
    ]
block meta
  title= title_page
  meta(name='description', content='')
block head
  link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/news.bundle.js')
block content
  .container.contact-front-screen
    include ../includes/breadcrumbs.pug
  include ../includes/contact-screen.pug  

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
